.formulario{
    width: 320px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(175, 208, 255);
    border-radius: 12px;
    box-shadow: 2px 2px 10px black;
    background-color: rgb(112, 141, 194);

}
.formulario input, .formulario button{
    width: 95%;
    padding: 10px;
    margin: 10;
}
.ver-imgen{
    width: 120px;
    height: 120;
    border-radius: 10%;
    display: block;
    margin: 10px auto;
    border: 2px solid #ccc;
}
header{
    background-color: #333;
    padding: 1px 0;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}
nav ul li a:hover{
    background-color: #555;
}